@font-face{
    font-family: typewriter;
    src: url(font/Punk\ Typewriter.otf);
}



body{
    background-color: #030313;
}

*{
    transition: .6s;
}

#banner {
    width: 800px;
    height: 90px;
    position: relative;
    padding: 10px;
    margin: 10px;
    color: white;
    pointer-events: none;
    font-family: typewriter;
}

p.ban{
    font-size: 60pt;
    position: absolute;
    bottom: -75px;
}

#device {
    border-radius: 6px;
    border: 5px double white;
    width: 1000px;
    height: 700px;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to bottom, #202020, #111119);
}
#cooltech{
    transform-origin: top left;
    transform: scale(1.25);
    position: absolute;
    left: 8px;
    top: 5px;
}

#realbutton{
    clip-path: polygon(64.65% 5.23%,80.81% 2.71%, 86.87% 3.77%, 97.64% 6.59%, 100% 8.58%, 100% 11.51%, 93.27% 14.85%, 85.19% 16.21%, 81.48% 16.32%);
    position: absolute;
    opacity: 0;
    animation: infinite ease paused 3s;
    transform-origin: 236px 95px;
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}

#gearbutton{
    position: absolute;
    animation-duration: .625s;
    animation-name: rotatetest;
    animation-iteration-count: 1;
    transform-origin: 236px 95px;
    animation-timing-function: linear;
    animation-play-state: paused;
    pointer-events: none;
}

#buttonaccent{
    position: absolute;
    animation-duration: .625s;
    animation-name: rotatetestR;
    animation-iteration-count: 1;
    transform-origin: 211px 201px;
    animation-timing-function: linear;
    pointer-events: none;
    animation-play-state: paused;
}

#grand {
    position: absolute;
    pointer-events: none;
}

#topgear {
    position: absolute;
    animation-duration: .625s;
    animation-name: rotatetestR;
    animation-iteration-count: 1;
    transform-origin: 175px 85px;
    animation-timing-function: linear;
    pointer-events: none;
    animation-play-state: paused;
}

#middlegear {
    position: absolute;
    animation-duration: .625s;
    animation-name: rotatetest;
    animation-iteration-count: 1;
    transform-origin: 190px 122px;
    animation-timing-function: linear;
    pointer-events: none;
    animation-play-state: paused;
}

#bottomgear {
    position: absolute;
    animation-duration: .625s;
    animation-name: rotatetestR;
    animation-iteration-count: 1;
    transform-origin: 175px 179px;
    animation-timing-function: linear;
    pointer-events: none;
    animation-play-state: paused;
}

#clock {
    position: absolute;
    pointer-events: none;
}

#hour {
    position: absolute;
    animation-duration: .625s;
    transform-origin: 134px 142px;
    animation-timing-function: linear;
    pointer-events: none;
    animation-fill-mode: forwards;
}

#minute {
    position: absolute;
    animation-duration: .625s;
    animation-name: rotatetest;
    animation-iteration-count: 1;
    transform-origin: 134px 142px;
    animation-timing-function: linear;
    pointer-events: none;
    animation-play-state: paused;
}

#marImp {
    width: 0px;
    height: 260px;
    position: absolute;
    left: 364px;
    top: 60px;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    transform-origin: top left;
    transform: scale(.8);
    padding-left: 10px;
    padding-right: 10px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
}

#marToppy {
    width: 1px;
    height: 260px;
    position: absolute;
    left: 364px;
    top: 60px;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    transform-origin: top left;
    transform: scale(.8);
    padding-left: 10px;
    padding-right: 10px;
}

#marKey {
    overflow: hidden;
    width: 400px;
    height: 260px;
    position: absolute;
    left: 380px;
    top: 60px;
    border: 2px solid white;
    transform-origin: top left;
    transform: scale(.8);
    padding-left: 10px;
    padding-right: 10px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}


#marquee {    
    font-size: 20pt;
    color: white;
    position: absolute;
    width: 395px;
    height: 297px;
    margin: 0;
    line-height: 30px;
    text-align: left;
    padding-left: 2px;
    /*top: -323px;*/
    bottom: 1437%;
    animation: scroll1 .625s linear 1 paused;
    animation-fill-mode: forwards;
}

#gearbox{
    position: absolute;
    left: 340px;
    top: 61px;
    width: 40px;
    height: 300px;
    overflow: hidden;
}

#marGear1 {
    position: absolute;
    animation-duration: .625s;
    animation-name: rotatetestR;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    pointer-events: none;
    animation-play-state: paused;
    left: 10px;

}

#marGear2 {
    position: absolute;
    animation-duration: .625s;
    animation-name: rotatetest;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    pointer-events: none;
    animation-play-state: paused;
    left: 25px;
    top: 40px;
}

#marGear3 {
    position: absolute;
    animation-duration: .625s;
    animation-name: rotatetestR;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    pointer-events: none;
    animation-play-state: paused;
    left: 17px;
    top: 82px;
}

#marGear4 {
    position: absolute;
    animation-duration: .625s;
    animation-name: rotatetest;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    pointer-events: none;
    animation-play-state: paused;
    left: 30px;
    top: 124px;
}

@keyframes idle{
    0%   { 
    transform: scale(1) rotate(0deg); 	
    }
    50%{
    transform: scale(1.15) rotate(20deg); 	
    }
    100% { 
    transform: scale(1) rotate(0deg); 	
    }
}

@keyframes scroll1{
    0%   { 
    transform: translateY(0); 		
    }
    100% { 
    transform: translateY(101%); 
    }
}

@keyframes scroll2{
    0%   { 
    transform: translateY(101%); 		
    }
    100% { 
    transform: translateY(202%); 
    }
}

@keyframes scroll3{
    0%   { 
    transform: translateY(202%); 		
    }
    100% { 
    transform: translateY(313%); 
    }
}

@keyframes scroll4{
    0%   {
    transform: translateY(313%); 		
    }
    100% { 
    transform: translateY(424%); 
    }
}

@keyframes scroll5{
    0%   { 
    transform: translateY(424%); 		
    }
    100% { 
    transform: translateY(536%); 
    }
}

@keyframes scroll6{
    0%   { 
    transform: translateY(536%); 		
    }
    100% { 
    transform: translateY(647%); 
    }
}

@keyframes scroll7{
    0%   { 
    transform: translateY(647%); 		
    }
    100% { 
    transform: translateY(748%); 
    }
}

@keyframes scroll8{
    0%   {
    transform: translateY(748%); 		
    }
    100% { 
    transform: translateY(858%); 
    }
}

@keyframes scroll9{
    0%   {
    transform: translateY(858%); 		
    }
    100% { 
    transform: translateY(970%); 
    }
}

@keyframes scroll10{
    0%   { 
    transform: translateY(970%); 		
    }
    100% { 
    transform: translateY(1071%); 
    }
}

@keyframes scroll11{
    0%   { 
    transform: translateY(1071%); 		
    }
    100% { 
    transform: translateY(1172%); 
    }
}

@keyframes scroll12{
    0%   { 
    transform: translateY(1172%); 		
    }
    100% { 
    transform: translateY(1273%); 
    }
}




/*Keyframes and fact text here!!!!*/
@keyframes rotatetest{
    0% {transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}

@keyframes rotatetestR{
    0% {transform: rotate(0deg);}
    100%{transform: rotate(-360deg);}
}

@keyframes hour12to1{
    0% {transform: rotate(0deg);}
    100%{transform: rotate(30deg);}
}

@keyframes hour1to2{
    0% {transform: rotate(30deg);}
    100%{transform: rotate(62deg);}
}

@keyframes hour2to3{
    0% {transform: rotate(62deg);}
    100%{transform: rotate(95deg);}
}

@keyframes hour3to4{
    0% {transform: rotate(95deg);}
    100%{transform: rotate(125deg);}
}

@keyframes hour4to5{
    0% {transform: rotate(125deg);}
    100%{transform: rotate(155deg);}
}

@keyframes hour5to6{
    0% {transform: rotate(155deg);}
    100%{transform: rotate(185deg);}
}

@keyframes hour6to7{
    0% {transform: rotate(185deg);}
    100%{transform: rotate(210deg);}
}

@keyframes hour7to8{
    0% {transform: rotate(210deg);}
    100%{transform: rotate(240deg);}
}

@keyframes hour8to9{
    0% {transform: rotate(240deg);}
    100%{transform: rotate(270deg);}
}

@keyframes hour9to10{
    0% {transform: rotate(270deg);}
    100%{transform: rotate(300deg);}
}

@keyframes hour10to11{
    0% {transform: rotate(300deg);}
    100%{transform: rotate(330deg);}
}

@keyframes hour11to12{
    0% {transform: rotate(330deg);}
    100%{transform: rotate(360deg);}
}